bin/
obj/
.vs/
publish/**
!publish/publish-rpc.ps1
!publish/install.ps1
!publish/qkrpc-publish-lib.ps1
!publish/Publish-GitHubRelease.ps1
**/publish/*.zip
QuickerRpc.Plugin/publish/
*.user
*.suo
*.cache
