[submodule "voice-asr-runtime"]
	path = voice-asr-runtime
	url = https://github.com/QuickerHub/voice-asr-runtime.git
	branch = master
[submodule "Quicker.ActionRuntime"]
	path = Quicker.ActionRuntime
	url = https://github.com/QuickerOrg/Quicker.ActionRuntime.git
	branch = main
